In [1]:
import os
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt

# Задание 1

In [2]:
data_games = pd.read_csv(os.path.join('C:', os.sep, 'Netology', 'video_games_sales.csv'))
data_games.head()

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg

## Пункт 1

In [3]:
data_score_sports = data_games[['Genre', 'Critic_Score']][(data_games['Genre'] == 'Sports')]

## Как критики относятся к спортивным играм?
- H0: средняя удовлетворенность критиков спортивными играми <= 50%  
- H1: средняя удовлетворенность критиков спортивными играми  составляет не менее 50%

In [4]:
from scipy import stats as st

alpha = 0.05
result = st.ttest_1samp(data_score_sports['Critic_Score'], 5, nan_policy='omit')

if (result.statistic > 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее больше 5')
else:
    print('Не отвергаем нулевую гипотезу, спортивные игру не нравится критикам')

Отвергаем нулевую гипотезу, среднее больше 5

## Пункт 2

In [5]:
data_score_pc = data_games[['Platform', 'Critic_Score']][(data_games['Platform'] == 'PC')]
data_score_ps4 = data_games[['Platform', 'Critic_Score']][(data_games['Platform'] == 'PS4')]

## Критикам нравятся больше игры на PC или на PS4?
- H0: средняя оценка критиков игр на PC и PS4 одинаковая
- H1: средняя оценка критиков игр на PC и PS4 различаются

Здесь нам уже нужен двухвыборочный двухсторонний критерий.

In [6]:
from scipy import stats as st

alpha = 0.05
result = st.ttest_ind(data_score_pc['Critic_Score'], data_score_ps4['Critic_Score'], equal_var=False, nan_policy='omit')
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-2.7394476056351627, pvalue=0.0069318082502542845)
Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4

## Пункт 3

In [7]:
data_score_shooter = data_games[['Genre', 'Critic_Score']][(data_games['Genre'] == 'Shooter')]
data_score_strategy = data_games[['Genre', 'Critic_Score']][(data_games['Genre'] == 'Strategy')]

## Критикам одинаково нравится стрелялки и стратегии?
- H0: средняя оценка критиков игр стрелялок и стратегий одинаковая
- H1: средняя оценка критиков игр стрелялок и стратегий различаются

Здесь нам уже нужен двухвыборочный двухсторонний критерий.

In [8]:
from scipy import stats as st

alpha = 0.05

result = st.ttest_ind(data_score_shooter['Critic_Score'], data_score_strategy['Critic_Score'], equal_var=False, nan_policy='omit')
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-1.6073949711166526, pvalue=0.10838786414222695)
Не отвергаем нулевую гипотезу

# Задание 2

In [9]:
import re

In [10]:
data_spam = pd.read_csv(os.path.join('C:', os.sep, 'Netology', 'spam.csv'))
data_spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
# приведение всех строк к нижнему регистру

data_spam['Message'] = data_spam.Message.str.lower()
data_spam

     Category                                            Message
0         ham  go until jurong point, crazy.. available only ...
1         ham                      ok lar... joking wif u oni...
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham  u dun say so early hor... u c already then say...
4         ham  nah i don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home?
5569      ham  pity, * was in mood for that. so...any other s...
5570      ham  the guy did some bitching but i acted like i'd...
5571      ham                         rofl. its true to its name

[5572 rows x 2 columns]

In [12]:
# уберем все служебные символы

data_spam['Message'] = [re.sub('[\W_]+',' ', message) for message in data_spam['Message']]
data_spam

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

In [13]:
# разделим все на слова

data_spam['Message'] = [message.split() for message in data_spam['Message']]
data_spam.head(5)

  Category                                            Message
0      ham  [go, until, jurong, point, crazy, available, o...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      ham  [u, dun, say, so, early, hor, u, c, already, t...
4      ham  [nah, i, don, t, think, he, goes, to, usf, he,...

In [14]:
# удалим стоп-слова

from nltk.corpus import stopwords

stopwords_set = set(stopwords.words('english'))
data_spam['Message'] = [[word for word in message if word not in stopwords_set] for message in data_spam['Message']]
data_spam.head(5)

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham     [nah, think, goes, usf, lives, around, though]

Произведем лемматизацию

Лемматизация — процесс приведения словоформы к лемме — её нормальной (словарной) форме. В русском языке:

для существительных — именительный падеж, единственное число;
для прилагательных — именительный падеж, единственное число, мужской род;
для глаголов, причастий, деепричастий — глагол в инфинитиве несовершенного вида.
В других языках – по аналогии.

In [15]:
#приведем слова к нормальной форме

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
data_spam['Message'] = [[wordnet_lemmatizer.lemmatize(word) for word in message] for message in data_spam['Message']]


data_spam.head(5)

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham        [nah, think, go, usf, life, around, though]

In [16]:
data_spam['Message'] = [' '.join(message) for message in data_spam['Message']]
data_spam.head(5)

  Category                                            Message
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry 2 wkly comp win fa cup final tkts 2...
3      ham                u dun say early hor u c already say
4      ham                nah think go usf life around though

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data_spam.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names())

C:\Users\ivana\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [18]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# делим данные на тренировочные и тестовые

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, data_spam['Category'], test_size=0.30, random_state=42)

In [20]:
# применим модель логистической регрессии 

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=42)

In [21]:
lr.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [22]:
lr.predict(X_test)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [23]:
from sklearn.metrics import confusion_matrix

y_pred = lr.predict(X_test)

result = confusion_matrix(y_test, y_pred)

result

array([[1445,    3],
       [  66,  158]], dtype=int64)

In [24]:
accuracy = (result[0][0] + result[0][1]) / (result[0][0] + result[0][1] + result[1][0] + result[1][1])
recall = result[0][0] / (result[0][0] + result[1][0])
precision = result[0][0] / (result[0][0] + result[1][0])
specificity = result[1][1] / (result[1][0] + result[1][1])
f_score = (2 * recall * precision) / (recall + precision)

print('Точность классификации равна ', accuracy, '.')
print('Чувствительность ака равна',  recall, '.')
print('Точность равна ',  precision, '.')
print('Специфичность равна ',  specificity, '.')
print('F-оценка равна ',  f_score, '.')

Точность классификации равна  0.8660287081339713 .
Чувствительность ака равна 0.9563203176704169 .
Точность равна  0.9563203176704169 .
Специфичность равна  0.7053571428571429 .
F-оценка равна  0.9563203176704169 .

### Вывод:
 Показатель точности говорит о том, что когда модель предсказывает верно, то в 93,9 % это правильно.
 Показатель точности квалификации говорит о том, что когда на самом деле да, и как часто модель предсказывает да.

In [25]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=42)
lr.fit(tfidf_matrix, data_spam['Category'])
predict = lr.predict(tfidf_matrix)

predict

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [26]:
result = confusion_matrix(data_spam['Category'], predict)

result

array([[4817,    8],
       [ 148,  599]], dtype=int64)

In [27]:
final_df = pd.DataFrame()
final_df['Message'] = data_spam['Message']
final_df['fact'] = data_spam['Category']
final_df['pred'] = predict

final_df

                                                Message  fact  pred
0     go jurong point crazy available bugis n great ...   ham   ham
1                               ok lar joking wif u oni   ham   ham
2     free entry 2 wkly comp win fa cup final tkts 2...  spam  spam
3                   u dun say early hor u c already say   ham   ham
4                   nah think go usf life around though   ham   ham
...                                                 ...   ...   ...
5567  2nd time tried 2 contact u u 750 pound prize 2...  spam  spam
5568                        ü b going esplanade fr home   ham   ham
5569                               pity mood suggestion   ham   ham
5570  guy bitching acted like interested buying some...   ham   ham
5571                                     rofl true name   ham   ham

[5572 rows x 3 columns]

In [28]:
df_final = final_df[(final_df['fact'] != final_df['pred'])]

df_final.head(15)

                                               Message  fact  pred
5    freemsg hey darling 3 week word back like fun ...  spam   ham
19   england v macedonia dont miss goal team news t...  spam   ham
54   sm ac sptv new jersey devil detroit red wing p...  spam   ham
56   congrats 1 year special cinema pas 2 call 0906...  spam   ham
68              hear new divorce barbie come ken stuff  spam   ham
74                                              u call   ham  spam
227  u meet ur dream partner soon ur career 2 flyng...  spam   ham
305  sm ac blind date 4u rodds1 21 aberdeen united ...  spam   ham
333  call germany 1 penny per minute call fixed lin...  spam   ham
415  100 dating service cal l 09064012103 box334sk38ch  spam   ham
420  send logo 2 ur lover 2 name joined heart txt l...  spam   ham
492  congrats 1 year special cinema pas 2 call 0906...  spam   ham
495                                          free call   ham  spam
505                                              error  spam   ham
518  credit topped http www bubbletext com renewal ...  spam   ham

In [29]:
df_final.shape

(156, 3)